body{
    font-family: 'Merriweather';
    color:blue;
    display:absolute;
    background-color:#031205;

}

.title{
font-size:100px;
text-align:center;
color:blue;
border-radius:100px;
border:2px solid blue;
box-shadow:0 0 27px blue;
display: block;
margin-left: auto;
margin-right: auto;
}
.song{
display:block;
    font-size:40px;
    display:block ;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:350px;
    color:green;
    border:2px dashed blue;
    box-shadow:0 0 5px blue;
    border-radius:100px;
}
.hr{
    border:5px solid blue;
    text-align: center;
    font-size:50px;
    color: green;
    border-radius: 100px;
    box-shadow: 0 0 5px blue;
}
hr{
   height:20px;
    border:2px dotted blue;
    border-radius:100px;
    box-shadow:0 0 5px red;
}
a{
text-decoration: none;
color: green;
}
