body {
    font-family: 'Merriweather';
    color:blue;
    display:absolute;

    background-image: url("../img/banner.png");
     background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.title
{
font-size:100px;
text-align:center;
color:blue;
border-radius:100px;
border:2px solid blue;
box-shadow:0 0 27px blue;
background-color: black;

}
.down
{
font-size:50px;
text-align:center;
border-radius:100px;
border:2px solid blue;
box-shadow:0 0 27px blue;
background-color: black;
}
down
{
font-size:50px;
text-align:center;
border-radius:50px;
border:2px solid blue;
box-shadow:0 0 27px blue;
background-color: black;
padding-left: 20px;
padding-right: 20px;
}
.head{
    display:block;
    font-size:40px;
    display:block ;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:350px;
    color:blue;
    border:2px dashed blue;
    box-shadow:0 0 5px blue;
    border-radius:100px;
}
.next{
    display:block;
    font-size:40px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:270px;
    color:green;
    border:2px dashed blue;
    box-shadow:0 0 10px blue;
    border-radius:100px;
}
hr{
    border:0.5px dotted green;
}


a{
text-decoration: none;
}

form{
text-align:left;
color:blue;
border-radius:50px;
border:2px solid blue;
box-shadow:0 0 27px blue;
background-color:rgba(100,500,10,0.8);
font-size: 28.99px;
}
.hr{
    height:20px;
    border:2px dotted green;
    border-radius:100px;
    box-shadow:0 0 5px red;
    background-color: #737381;
}
#disqus_thread{
background-color:rgba(100,500,10,0.8);
border:2px solid blue;
border-radius:50px;
font-size: 50px;
}
